.searchBar {
  padding: 10px;
  background-color: rgb(216, 155, 75);
  border-radius: 4px;
  border: 5px solid rgb(114, 17, 17);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.3));
}

.form {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  
}

input {
  width: 358px;
  height: 50px;
  border: 2px solid rgb(114, 17, 17);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #F0D1A5;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-family: 'Comic Sans MS';
  font-weight: 700;
}

.button {
  margin-left: 12px;
  background-color: rgb(114, 17, 17);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3),
      0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 10px 12px -6px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid rgba(15, 15, 15, 0.3);
  font-family: 'Comic Sans MS';
  font-weight: 700;
  color: white;
}

.movieImage {
  width: 100%;
  height: 400px;
  border-bottom: 3px solid rgb(114, 17, 17);
  cursor: pointer;
}

.movieGallery {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(216, 155, 75);
  border-radius: 4px;
  box-shadow: 0 0.3em 1em #000;
  border: 5px solid rgb(114, 17, 17);
}

.movieInfo {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(114, 17, 17);
  width: 100%; 
}

.movieName{
    display: block;
    padding: 5px;
}



.movieItem {
  width:300px;
  background-color: #f0d1a5;
  border: 3px solid rgb(114, 17, 17);
  color: rgb(114, 17, 17);
  font-weight: 700;
  border-radius: 4px;
  font-family: 'Comic Sans MS';
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.movieItem:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3),
    0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 10px 12px -6px rgba(0, 0, 0, 0.4);
}

.galleryFrame{
  position: relative;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}